@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Kalam:wght@300;400;700&family=Plus+Jakarta+Sans:ital,wght@0,600;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.image-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 70vh; 
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.image-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container .overlay {
  position: absolute;
  width: 50%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 1.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center; 
  padding: 2rem; 
}


.image-container .overlay h2 {
    color: #fff;
    margin-bottom: 2rem;
}

.image-container .overlay p {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 200;

}

/* Media Queries */


@media (max-width: 1440px) {
  .image-container {
    height: 70vh;
  }
}

@media (max-width: 1280px) {
  .image-container {
    height: 70vh;
  }
}

@media (max-width: 1220px) {
  .image-container {
    height: 70vh;
  }
}

@media (max-width: 900px) {
  .image-container {
    height: 60vh;
  }

  .image-container .overlay {
  width: 55%;
  height: 60%;
}  
}

@media (max-width: 576px) {
  .image-container {
    height: 50vh;
  }

  .image-container img {
    margin-top: -1rem;
  }

  .image-container .overlay {
  margin-top: -1.5rem;
  width: 65%;
  height: 60%;
  }  

  .image-container .overlay h2{
  font-size: 20px;
  }  
  .image-container .overlay p{
  font-size: 14px;
  }  

}

@media (max-width: 480px) {
  .image-container {
    height: 45vh;
  }

  .image-container .overlay {
  width: 70%;
  padding: 1.5rem;
  }  

  .image-container .overlay h2{
  font-size: 19px;
  }  
  .image-container .overlay p{
  font-size: 14px;
  }  
}

@media (max-width: 360px) {
  .image-container {
    height: 45vh;
  }

  .image-container .overlay {
  width: 70%;
  height: 70%;
  }  

  .image-container .overlay h2{
  font-size: 18px;
  }  
  .image-container .overlay p{
  font-size: 13px;
  }  
}
