@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,600;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    display: flex;
    justify-content: center;
    font-weight: 500;
}

.result-grid {
  margin: 2rem 4rem 2rem; 
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  background-color: #ecfdf5;
  padding: 2rem;
  border-radius: 10px;
}

.result-grid .result-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  padding: 1.2rem 1.6rem;
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  color:  #059669;
}
.result-grid-inner {
    padding: 1rem;
    display: flex;
    gap: 1rem;
}

.result-grid-inner img {
    width: 5rem;
    height: 5rem;
    opacity: 0.7;
}


@media (max-width: 768px) {
    .result-grid {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      
    }
}