.drawer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.drawer-buttons {
  display: flex;
  position: relative;
  gap: 1rem;
  margin-bottom: 2rem;
}

.drawer-step {
  all: unset;
  padding: 0.5rem 1rem;
  cursor: default;
  color: #aaa;
  font-weight: 400;
  position: relative;
  z-index: 1;
  transition: color 0.3s ease;
}

.drawer-step.active-step {
  color: #000;
  font-weight: 600;
}

.active-indicator {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: #000;
  border-radius: 2px;
  transition: all 0.3s ease; /* smooth movement */
  z-index: 0;
}
