.dashboard-container {
    margin-top: -1rem;
    background-color: #edf5f0;
    min-height: 90vh; /* ensures it covers at least 90% of viewport */
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 2rem; /* optional: for spacing at the bottom */
    flex-direction: column-reverse;
}